.father {
  display: grid;
  min-height: 50vh;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.child {
  background-color: tomato;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
