@import "./reset.scss";

$bgColor: #f0f0f0;
$accent: #ff8100;
$grey: #c7c2cb;
$imgBgColor: #abbaaf;
$borderWidth: 2px;

@keyframes slide {
  0% {
    transform: translateY(-3000%) rotateZ(-90deg);
  }
  100% {
    transform: translateY(calc(0% - 35px)) rotateZ(-90deg);
  }
}

body {
  height: 100vh;
}

.wrapper {
  height: 100%;
  background-color: #000;
  display: grid;
  grid-template-rows: 1fr 1fr 4.5fr 3.5fr;
  grid-template-columns: 0.3fr repeat(4, 1fr);
  gap: $borderWidth;
  div {
    background-color: $bgColor;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &:nth-child(11) {
      grid-column: span 3;
    }
  }
  .logo {
    grid-area: span 2 / span 2;
    font-size: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    grid-column: span 3;
    font-size: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  .banner {
    grid-row: span 2;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    span {
      position: absolute;
      width: max-content;
      color: $bgColor;
      font-weight: 500;
      font-size: 24px;
      animation: slide 5s linear infinite;
    }
  }
  .nav-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
    .nav-btn__name {
      font-weight: 600;
      font-size: 24px;
    }
    .nav-btn__desc {
      font-size: 18px;
    }
  }
  .post {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    &.post--big {
      .post__title {
        font-size: 200px;
        font-weight: 600;
      }
    }
    .post__title {
      font-size: 44px;
      font-weight: 600;
    }
    p {
      font-size: 14px;
    }
  }
  .featured {
    background-color: $grey;
    padding: 30px;
    display: flex;
    div {
      background-color: $bgColor;
      border: $borderWidth solid #000;
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        text-align: center;
        font-size: 48px;
        font-weight: 600;
      }
    }
  }
}
